@import '../../scss/global.scss';

.ms-primary, .ms-secondary {
    border-radius: 22px;
    margin-bottom: sizeComp(xx-small);
    @include mq($bp-xsmall) {
        margin-bottom: sizeComp(normal);
    }
}

.ms-primary {
    background-color: $peach__dark;
    color: $black;
}
.ms-secondary {
    background-color: $olive;
    color: $white;
}

.ms-small {
    @include size-components(sizeComp(medium) sizeComp(big), none, medium);
}
.ms-default {
    @include size-components(sizeComp(medium) sizeComp(x-big), none, normal);
}
.ms-big {
    @include size-components(sizeComp(medium) sizeComp(xx-big), none, x-normal);
}