@import '../../scss/global.scss';

.notification {
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include size-components(sizeComp(medium), medium, normal, auto);
    @include mq() {
        border-radius: 16px;
        @include size-components(sizeComp(x-normal), x-normal, normal, auto);
    }
    @include mq($bp-large) {
        border-radius: 16px;
        @include size-components(sizeComp(x-big), x-big, normal, auto);
    }
    & > .sidebar__btnbox > [sizebtn="small"] {
        @include mq() {
            @include size-components(sizeComp('small') sizeComp('x-big'), x-small, x-normal);
        } 
        @include mq($bp-large) {
            @include size-components(sizeComp('small') sizeComp('xx-big'), x-small, big);
        } 
    }
}

.notification__btnbox {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.notification__name {
    font-size: fs(x-normal);
    font-weight: fw(extrabold);
    margin: 0;
    @include mq() {
        font-size: fs(x-big);
    }
    @include mq($bp-large) {
        font-size: fs(xx-big);
    }
}

.notification__text {
    margin: 0;
    @include mq() {
        font-size: fs(big);
    }
    @include mq($bp-large) {
        font-size: fs(x-big);
    }
}
