@import '../../scss/global.scss';
.main__gallery {
    height: calc(100% - 40px);
}

.subtitle__gallery {
    font-size: fs(big);
}
.section__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section__imgsgallery {
    width: calc(100% - sizeComp(medium) * 2);
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: sizeComp(medium);
    height: fit-content;
}
.article__columnsgallery {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    justify-content: center;
    width: 100%;
}
.btn__menugallery {
    background: none;
    padding: 0;
    &::after {
        content: '/'
    }
    &:hover {
        font-weight: fw(extrabold);
        &::after {
            font-weight: fw(regular);
        }
    }
    &:focus, &:focus-visible {
        outline: none;
        font-weight: fw(extrabold);
        &::after {
            font-weight: fw(regular);
        }
    }
}
.btn__allimg-gallery::after {
    content: '';
}

.img__gallery {
    border-radius: 22px;
    padding: sizeComp(x-small);
    width: calc(100% - sizeComp(x-small) * 2);
}
.img-x-small {
    grid-row-end: span 17;
}
.img-small {
    grid-row-end: span 21;
}
.img-medium {
    grid-row-end: span 30;
}
.img-large {
    grid-row-end: span 36;
}