@import '../../scss/global.scss';

.searcher {
    display: flex;
    width: 100%;
    & > button {
        background: none;
        border: none;
        cursor: pointer;
    }
}
.searcher__bar {
    @include size-components(sizeComp(xx-small), x-small, medium, 100%);
    & > .input {
        &:focus, &:focus-visible {
            outline: $orange__light auto 1px;
        }
        @include size-components(sizeComp(x-small) sizeComp(medium), x-small, medium, calc(100% - sizeComp(medium) * 2));
    }
    @include mq {
        @include size-components(sizeComp(xx-small), small, normal, 100%);
        & > .input {
            @include size-components(sizeComp(small) sizeComp(x-normal), small, normal, calc(100% - sizeComp(x-normal) * 2));
        }
    }
}
