@import '../../scss/global.scss';

.input {
    border-radius: 22px;
    border: none;
    font-family: inherit;
    color: $gray__darker;
}
.input::placeholder {
    color: $gray__dark;
}
.input-row {
    display: flex;
    align-items: center;
}
.input-column {
    display: flex;
    flex-direction: column;
}
[sizeinput="small"] {
    @include size-components(sizeComp(xx-small), x-small, medium);
    & > .input {
        @include size-components(sizeComp(x-small) sizeComp(medium), x-small, medium);
    }
}
[sizeinput="default"] {
    @include size-components(sizeComp(xx-small), small, normal);
    & > .input {
        @include size-components(sizeComp(small) sizeComp(x-normal), small, normal);
    }
}
[sizeinput="big"] {
    @include size-components(sizeComp(xx-small), medium, x-normal);
    & > .input {
        @include size-components(sizeComp(x-small) sizeComp(medium), medium, x-normal);
    }
}
[sizeinput="x-big"] {
    @include size-components(sizeComp(xx-small), x-normal, big);
    & > .input {
        @include size-components(sizeComp(x-small) sizeComp(medium), x-normal, big);
    }
}

.switch, .switch-big {
    position: relative;
    margin: 14px;
    display: inline-block;
    width: 60px;
    height: 34px;
    & > input {
      opacity: 0;
      width: 0;
      height: 0;
    }
}
.switch-big {
    margin: 34px;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $white;
    background-color: $orange;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    width: fit-content;
    padding: 29px 29px 29px 70px;
    display: flex;
    align-items: center;
}

.slider-big {
    padding: 39px 39px 39px 90px;
    border-radius: 44px;
}
  
.slider::before, .slider-big::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 4px;
    bottom: 4px;
    background-color: $peach;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.slider-big::before {
    height: 70px;
    width: 70px;
}
.slider::after, .slider-big::after {
    content: "Bloqueado";
    font-size: fs(x-normal);
}
.slider-big::after {
    font-size: fs(x-big);
}

input:checked + .slider {
    background-color: $peach;
    color: $black;
    padding: 29px 55px 29px 10px;
}
input:checked + .slider-big {
    padding: 39px 81px 39px 14px;
}

input:focus + .slider {
    box-shadow: 0 0 1px $peach;
}

input:checked + .slider:before {
    -webkit-transform: translateX(147px);
    -ms-transform: translateX(147px);
    transform: translateX(147px);
    background-color: $orange;
}
input:checked + .slider-big:before {
    -webkit-transform: translateX(241px);
    -ms-transform: translateX(241px);
    transform: translateX(241px);
}
input:checked + .slider::after {
    content: "Desbloqueado";
}

  