@import '../../scss/global.scss';

.topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & > .logo-x-small {
        @include mq() {
            @include icon-size(x-medium, auto);
        }
    }
    & > .btn-small {
        @include mq() {
            @include size-components(sizeComp('small') sizeComp('x-big'), x-small, x-normal);
        }
        & > .icon-xx-small {
            @include mq() {
                @include icon-size(xxx-small, auto);
            }
        }
    }
}
