@import '../../scss/global.scss';

.topbar {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2rem - 24px);
    position: fixed;
    z-index: 4;
    & > .logo-x-small {
        @include mq() {
            @include icon-size(x-medium, auto);
        }
    }
    @include mq($bp-large) {
        width: calc(100% - 4rem - 24px);
    }
}

.btn-topbar {
    @include mq() {
        @include size-components(sizeComp('small') sizeComp('x-big'), x-small, x-normal);
    }
    & > .icon-xx-small {
        @include icon-size(xxxx-small, sizeIcon(xxxx-small));
        @include mq() {
            @include icon-size(xxx-small, sizeIcon(xxx-small));
        }
    }
}
.btn__minus-topbar {
    background: none;
    border: 1px solid transparent;
    z-index: 2;
    &:hover, &:focus, &:focus-visible {
        outline: none;
        background: none;
        border: 1px solid transparent;
    }
}