@import '../../scss/global.scss';

.selectLang {
    background: #f1f1f1;
    border: none;
    display: flex;
    width: fit-content;
    padding: 4px;
    border-radius: 5px;
    font-family: Prompt;
    color: #313131;
    box-shadow: 0px 0px 4px 0px #d3d3d3;
}