@import '../../scss/global.scss';

.weather__app {
    background-color: $gray__darker;
    border-radius: 22px;
    padding: 24px;
    color: $white;
    max-width: 511px;
    & .searcher__bar input {
        background-color: rgba(255, 255, 255, 0.2);
        color: $white;
    }
}
.weather__info {
    display: flex;
    width: calc(100% - 44px);
    justify-content: space-between;
    padding: 0 22px;
}
.weather__info--text {
    width: 100%;
}
.weather__info--extratext {
    text-align: left;
}
.weather__extratext--brief {
    display: flex;
    align-items: center;
}
.weather__city, .weather__temp {
    font-size: fs(big);
    @include mq() {
        font-size: fs(x-big);
    }
}
.weather__temp {
    padding-left: sizeComp(xx-small);
}
.weather__humidity, .weather__wind {
    padding-left: sizeComp(xx-small);
    margin: 0;
    font-size: fs(small);
}
.weather__description {
    margin: 0
}
.weather__info--icon {
    width: calc(50% - 60px);
    padding: 30px 0 30px 60px;
    display: flex;
}
.weather__icon {
    height: auto;
    object-fit: contain;
}
