@import '../../scss/global.scss';

.section__tags--projects {
    display: flex;
    justify-content: center;
    gap: sizeComp(xx-small);
    flex-wrap: wrap;
}
.img__projects {
    width: 100%;
    @include mq($bp-large) {
        width: 80%;
    }
    @include mq($bp-extralarge) {
        width: 60%;
    }
}
.description__projects {
    @include mq($bp-small) {
        padding: 28px 40px;
    }
    @include mq($bp-large) {
        padding: 28px 100px;
    }
    @include mq($bp-extralarge) {
        padding: 28px 200px;
    }
}
.link__projects {
    text-decoration: none;
    color: $gray__darker;
}
.btn__projects {
    @include mq() {
        @include size-components(sizeComp('small') sizeComp('x-big'), x-small, x-normal);
    }
    @include mq($bp-extralarge) {
        @include size-components(sizeComp('small') sizeComp('xx-big'), x-small, big);
    }
}
