@import '../../scss/global.scss';

.allsections__graphicdesign {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include mq() {
        padding: 0 45px;
        width: calc(100% - 90px);
    }
    @include mq($bp-large) {
        flex-direction: row;
    }
}
.section__graphicdesign {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: sizeComp(huge) * 2;
    @include mq($bp-large) {
        width: 50%;
    }
}
.section__img--design {
    @include mq($bp-large) {
        display: flex;
        align-items: flex-end;
        padding-top: 170px;
    }
}
.menu__btn--gd {
    display: flex;
    flex-wrap: wrap;
    @include mq($bp-extralarge) {
        width: 60%;
    }
}
.img__projectdesign {
    width: 100%;
    @include mq($bp-large) {
        width: 60%;
    }
}