@import '../../scss/global.scss';
.main__about {
    height: calc(100% - 3.875rem);
    width: calc(100% - 0.625rem);
    padding: sizeComp(x-normal) sizeComp(xxx-small) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: sizeComp(x-normal);
}
.section__title {
    background-color: $blue__dark;
    border-radius: 205px;
    margin: 6rem 0;
    width: calc(100% - sizeComp(small) * 2);
    padding: sizeComp(normal) sizeComp(small);

    & > p {
        margin: 0;
        @include mq($bp-large) {
            margin: auto;
            font-size: fs(x-normal);
        }
    }
    & > h1 {
        margin: 0;
        font-size: 1.5rem;
        padding-top: 13px;
        @include mq($bp-large) {
            margin: auto;
            font-size: fs(xx-big);
        }
    }
    @include mq($bp-medium) {
        padding: sizeComp(normal) 10.25rem;
        width: fit-content;
    }
}
.section__listimgs {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    top: 324.5px;
    height: 50%;
    padding: 0;
    @include mq($bp-medium) {
        position: static;
        height: 80%;
        padding: 0 sizeComp(xx-big);
        width: calc(100% - sizeComp(xx-big) * 2);
    }
    @include mq($bp-large) {
        height: 100%;
    }
    @include mq($bp-extralarge) {
        padding: 0 200px;
        width: calc(100% - 200px * 2);
    }
}
.section__aboutpost {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    & > p {
        font-size: fs(medium);
        width: 100%;
        @include mq($bp-medium) {
            font-size: fs(normal);
        }
    }
    @include mq($bp-large) {
        width: calc(100% - 150px * 2);
        padding: 0 150px;
    }
    @include mq($bp-extralarge) {
        width: calc(100% - 350px * 2);
        padding: 0 350px;
    }
}
.img__aboutpost {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
}
.carruselle {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
.img__aboutpost--carruselle {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carruselle__arrows {
    position: absolute;
    width: 100%;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
}

.linkimg__about {
    padding: 0;
    margin: 0;
    width: calc(100% / 3);
    height: calc(100% / 3);
}
.foto_about {
    width: 100%;
    height: 100%;
    border: 1px solid $gray;
    overflow: hidden;
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .2s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}