
.nav {
    background-color: bisque;
}

.pattern__section {
    background-color: whitesmoke;
    border: 1px solid darkgrey;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
}