@import '../../scss/global.scss';

.main__ethics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.title--centre {
    width: 100%;
    text-align: center;
}