@import '../../scss/global.scss';

svg {
    width: 100%;
    height: auto;
}

.icon-xx-small {
    @include icon-size(xxxx-small, auto)
}
.icon-x-small {
    @include icon-size(xxx-small, auto)
}
.icon-small {
    @include icon-size(xx-small, auto)
}
.icon-normal {
    @include icon-size(x-small, auto)
}
.icon-big {
    @include icon-size(medium, auto)
}
.icon-x-big {
    @include icon-size(x-medium, auto)
}
.icon-xx-big {
    @include icon-size(normal, auto)
}

.icon-dark-bg, .icon-dark-br, .icon-light-bg, .icon-light-br {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-dark-bg, .icon-light-bg {
    padding: sizeComp(xxx-small);
}

.icon-dark-br, .icon-light-br {
    padding: sizeComp(xx-small);
}

.icon-dark-bg {
    background-color: $gray__darker;
}

.icon-dark-br {
    border: 1px solid $gray__darker;
}

.icon-light-bg {
    background-color: $peach__lighter;
}

.icon-light-br {
    border: 1px solid $peach__lighter;
}

.icon__doc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.line__icon__doc {
    border-radius: 42px;
    width: 100%;
}

[class^="icondoc-"], .icon-flower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    @include size-components(0, small, normal, min-content);
    & > p {
        margin: 0;
    }
}

.icondoc-small {
    flex-direction: row;
    align-items: flex-end;
    width: fit-content;
    & > .icon__doc {
        @include size-components(sizeComp(xx-small) sizeComp(xxx-small), xxx-small);
        @include icon-size(small, sizeIcon(medium));
        border-radius: 4px;
        & > .line__icon__doc {
            height: 1px;
        }
    }
}
.icondoc-default {
    & > .icon__doc {
        @include size-components(sizeComp(small) sizeComp(xx-small), xx-small);
        @include icon-size(x-medium, sizeIcon(normal));
        border-radius: 4px;
        & > .line__icon__doc {
            height: 2px;
        }
    }
}
.icondoc-big {
    @include size-components(0, normal, normal, min-content);
    & > .icon__doc {
        @include size-components(sizeComp(x-big) sizeComp(small), small);
        @include icon-size(xx-normal, sizeIcon(xxx-normal));
        border-radius: 6px;
        & > .line__icon__doc {
            height: 3px;
        }
    }
}
.icondoc-x-big {
    @include size-components(0, big, x-normal, min-content);
    & > .icon__doc {
        @include size-components(sizeComp(xx-big) sizeComp(medium), x-normal);
        @include icon-size(xxxx-normal, sizeIcon(x-big));
        border-radius: 8px;
        & > .line__icon__doc {
            height: 4px;
        }
    }
}
.flower-xx-small {
    @include icon-size (medium, sizeIcon(medium))
}
.flower-x-small {
    @include icon-size (x-medium, sizeIcon(x-medium))
}
.flower-small {
    @include icon-size (x-normal, sizeIcon(x-normal))
}
.flower-medium {
    @include icon-size (xxx-normal, sizeIcon(xxx-normal))
}
.flower-big {
    @include icon-size (big, sizeIcon(big))
}
.flower-x-big {
    @include icon-size (xx-big, sizeIcon(xx-big))
}
.flower-huge {
    @include icon-size (xxxx-big, sizeIcon(xxxx-big))
}

.flowerlarge-small {
    @include icon-size (big, sizeIcon(x-medium))
}
.flowerlarge-medium {
    @include icon-size (xx-big, sizeIcon(xxx-normal))
}
.flowerlarge-big {
    @include icon-size (xxxx-big, sizeIcon(big))
}

.flowerxlarge-small {
    @include icon-size (xxx-big, sizeIcon(x-medium))
}
.flowerxlarge-medium {
    @include icon-size (huge, sizeIcon(xxx-normal))
}
.flowerxlarge-big {
    @include icon-size (x-huge, sizeIcon(big))
}

.logo-x-small {
    @include icon-size(medium, auto);
}

.logo-small {
    @include icon-size(x-medium, auto);
}

.logo-default {
    @include icon-size(xxx-big, auto);
}
.logo-big {
    width: 654px;
    height: auto;
}

.icon-100 {
    width: 100%;
}