:root {
  font-family: 'Prompt', system-ui;
  color-scheme: $gray__dark;
  color: $black;
  background-color: $gray__darker;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
  
body {
  margin: 0;
  padding: 25px 25px 10px;
  width: calc(100vw - 50px);
  height: calc(100vh - 35px);
  background-color: $gray__darker;
}
  
.screen {
  width: calc(100% - 4rem);
  height: calc(100vh - 50px - 4rem);
  overflow-y: auto;
  padding: 2rem;
  text-align: center;
  border-radius: 42px;
}

.main__blockpage {
  width: 100%;
  height: calc(100% - 1.5625rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.5625rem;
}

/*@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
}*/

