@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;900&display=swap');
 h1 {
   font-weight: 900;
   font-size: 3.2em;
   line-height: 1.1;
 }

 h2,
 h3,
 h4,
 h5,
 h6 {
    font-weight: 400;
 }

 p {
    font-weight: 200;
 }

 /* 
 tres fuentes sin contar los encabezados -textos pequeños, medianos y (por si hay) grandes.

 */