
//----- para crear clases con cada font size -----
@each $name, $value in $size-vars {
    .fs-#{$name} {
        font-size: $value;
    }
}

//----- para hacer clases con los colores para los textos y para los bg -----
@each $key, $value in $color-list {
    .text-#{$key} {
        color: $value;
    }
    
    .color-bg-#{$key} {
        background-color: $value;
    }

    [fill="#{$key}"] {
        fill: $value;
    }
    [stroke="#{$key}"] {
        stroke: $value;
    }
    .fill-#{$key} {
        fill: $value;
    }
    
}

@each $key, $value in $weight-font {
    .text-#{$key} {
        font-weight: $value;
    }
}

@each $key, $value in $type-tag {
    .#{$key} {
        background-color: $value;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align--left {
    text-align: left;
}

.hide {
    display: none;
}
.show {
    display: block;
}
